.traffic-light {
    background-color: black;
    padding: 10px;
    display:inline-block;
    border-radius: 5px;
}

.light {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    
}

.red {
    background: red;
}
.yellow {
    background: yellow;
}
.green {
    background: rgb(0, 255, 0);
}
.glow {
    box-shadow: 0px 0px 50px 15px #d7e874;
}
.traffic-pole {
    height: 70px;
    width: 20px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    
}
.traffic-light-whole {
    display: flex;
    justify-content: center;
}